body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.container-question {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  border: 1px solid black;
}
.navigation {
  width: 100%;
  height: 60px;
}
.content {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 15%;
}
.nav-left {
  position: relative;
  float: left;
  width: 80%;
}
.nav-right {
  position: relative;
  float: right;
  width: 20%;
}
.nav-left ul {
  margin-block-start: 0.8px;
  margin-block-end: 0.7px;
}
.nav-right ul {
  margin-block-start: 0.8px;
  margin-block-end: 0.7px;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav ul li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.avatar {
  height: 40px;
  border-radius: 25px;
}
.question-brief {
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.container-question ul {
  border: 1px solid black;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-block-end: 0em;
}

.container-question ul li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
.leaderboard-container {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid black;
}
.leaderboard-container table {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}
.leaderboard-container table tbody td {
  padding: 10px;
  text-align: center;
}
.leaderboard-container table tbody th {
  padding: 10px;
  background-color: #1f1b52;
  text-align: center;
}
.leaderboard-container table tbody tr:nth-child(even) {
  background-color: #e9e9ff;
  color: rgb(0, 0, 0);
}

.leaderboard-container table tbody tr:nth-child(odd) {
  background-color: #786896;
  color: #fff;
}
.leaderboard-user {
  margin: 0 auto;
  width: 200px;
}
.leaderboard-float-left {
  position: relative;
  float: left;
  width: 50px;
}
.leaderboard-float-right {
  position: relative;
  float: left;
  width: 120px;
}
.poll-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
}
.poll-image-container {
  margin: 0 auto;
  max-width: 90px;
}
.poll-image {
  height: 100px;
}

.poll-options-container {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}
.poll-option-button {
  margin-top: 10px;
  background-color: #b13838;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: absolute;
  bottom: -24px;
  width: 400px;
}
.poll-options {
  display: flex;
  flex-direction: row;
}

.poll-options ul {
  border: 1px solid black;
  padding-inline-start: 0px;
  margin-left: 10px;
}
.poll-options ul li {
  list-style-type: none;
  text-decoration: none;
  width: 400px;
}
.poll-options-results {
  border: 1px solid black;
}
.poll-options-results table {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}
.poll-options-results table tbody td {
  padding: 10px;
  text-align: center;
}
.poll-options-results table tbody th {
  padding: 10px;
  background-color: #000000;
  text-align: center;
}
.poll-options-results table tbody tr:nth-child(even) {
  background-color: #e0dedf;
  color: rgb(0, 0, 0);
}

.poll-options-results table tbody tr:nth-child(odd) {
  background-color: #747272;
  color: #fff;
}
.poll-options-results ul li {
  list-style-type: none;
  text-decoration: none;
  width: 300px;
}
select {
  background-color: transparent;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  text-align: center;
}
.login-button {
  margin-top: 10px;
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
.login-container {
  margin-top: 50px;
}
.login-image-container {
  margin: 0 auto;
  max-width: 200px;
}
.login-image-container img {
  width: 200px;
}
.login-form {
  margin: 0 auto;
  max-width: 500px;
}
.login-form label {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.login-form .input-text {
  width: 100%;
  font-size: 18px;
  height: 25px;
}
.question-brief {
  width: 200px;
}
.question-brief .author {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: 1.2em;
}
.question-brief .timestamp {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: 0.8em;
}
.question-brief-button {
  background-color: #659c67; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
.question-form {
  margin: 0 auto;
  max-width: 500px;
}
.question-form label {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.question-form .input-text {
  width: 100%;
  height: 25px;
  font-size: 18px;
}
.question-button {
  margin-top: 10px;
  background-color: #503ab3; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.Tabs ul{
  padding-inline-start: 0px;
}
.Tabs ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
}
.Tabs ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
.Tabs ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
.Tabs ul.nav li:hover {
  background: rgba(104, 99, 159, 0.15);
}
.Tabs ul.nav li.active {
  background: #705eb6;
  color: rgb(255, 255, 255);
}

.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}