body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.container-question {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  border: 1px solid black;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav ul li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
.question-brief {
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.container-question ul {
  border: 1px solid black;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-block-end: 0em;
}

.container-question ul li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
table {
  margin: 0 auto;
  border: 1px solid black;
}
tbody td {
  padding: 30px;
}
tbody th {
  padding: 30px;
  background-color: #000000;
}
tbody tr:nth-child(even) {
  background-color: #e0dedf;
  color: rgb(0, 0, 0);
}

tbody tr:nth-child(odd) {
  background-color: #747273;
  color: #fff;
}

.poll-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
}
.poll-image-container {
  margin: 0 auto;
  max-width: 90px;
}
.poll-image {
  height: 100px;
}

.poll-options-container {
  margin: 0 auto;
  max-width: 650px;
}
.poll-options {
  display: flex;
  flex-direction: row;
}

.poll-options ul {
  border: 1px solid black;
  padding-inline-start: 0px;
  margin-left: 10px;
}
.poll-options ul li {
  list-style-type: none;
  text-decoration: none;
  width: 300px;
}

.poll-options-results ul {
  border: 1px solid black;
  padding-inline-start: 0px;
  margin-left: 10px;
}
.poll-options-results ul li {
  list-style-type: none;
  text-decoration: none;
  width: 300px;
}
.poll-option-button {
  width: 100%;
}
